<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <script src="./vendor/mustache.js/mustache.js" type="text/javascript" ></script>
    <script src="./js/appPack.js" type="text/javascript" ></script>
    <link rel="stylesheet" href="./vendor/grid/simplegrid.css" type="text/javascript" />
    <link rel="stylesheet" href="./style/styles.css" type="text/javascript" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <title>blog</title>
</head>
<body>

@@include( 'html-partial/loader/loader.html' )


</body>
</html>